section.footer
    nav.level.is-mobile
        div.level-item.has-text-centered
            div
                p
                    = '© ' + moment().format('YYYY')
                    |  Powered by 
                    a(href="https://hexo.io" rel="external" target="_blank") Hexo
