doctype html
html(lang=config.language)
    head
        include head
    body
        include nav
        section.section
            block header
            if body
                div!= body
            else
                block content
        include footer
        script(src="/js/index.bundle.js")
