div.articles-wrapper
    section.section
        if is_page()
            div.container.articles
                != page.content
        if is_post()
            section.article-header
                div.container.pt-5.pb-5
                    time.text-muted(
                        datetime=date_xml(page.date)
                        itemprop="datePublished"
                    )= full_date(page.date, 'YYYY-MM-DD')
                    h1.font-weight-bold= page.title
                    if page.categories && page.categories.length
                        each category, index in page.categories.data
                            a.tag.btn.btn-sm.btn-outline-danger.mr-2( href=url_for(category.path) )= __('# '+category.name)

            div.container.articles
                != page.content

                if is_post()
                    include disqus
