section.widget
    // Disqus Code
    if config.disqus_shortname
        #disqus_thread
        script.
            (function() {
                var d = document, s = d.createElement('script');
                s.src = '//#{config.disqus_shortname}.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        noscript Enable JavaScript to see comments.
