@import url('https://cdn.jsdelivr.net/gh/Joungkyun/font-d2coding@1.3.2/d2coding.min.css');

.highlight {
    overflow-x: auto;
    color: #abb2bf;
    background: #282c34;
    position: relative;
    white-space: pre-wrap;

    table {
        margin-top: 5px;
    }

    .gutter {
        padding-left: 10px;
        padding-right: 10px;
    }

    .code {
        padding-left: 10px;
        padding-right: 10px;

        pre {
            background-color: transparent;
            font-family: D2Coding, Consolas;
            white-space: pre-wrap;
            color: #abb2bf;

            .title {
                font-size: 14px;
            }

            .number {
                background-color: transparent;
                border-radius: 0;
                display: inline;
                font-size: 14px;
                height: auto;
                justify-content: center;
                margin-right: initial;
                min-width: 2.5em;
                padding: initial;
                text-align: center;
                vertical-align: top;
            }
        }
    }

    .comment,
    .quote {
        color: #5c6370;
        font-style: italic;
    }

    .doctag,
    .formula,
    .keyword {
        color: #c678dd;
    }

    .deletion,
    .name,
    .section,
    .selector-tag,
    .subst {
        color: #e06c75;
    }

    .literal {
        color: #56b6c2;
    }

    .addition,
    .attribute,
    .meta-string,
    .regexp,
    .string {
        color: #98c379;
    }

    .built_in,
    .class .title {
        color: #e6c07b;
    }

    .attr,
    .number,
    .selector-attr,
    .selector-class,
    .selector-pseudo,
    .template-variable,
    .type,
    .variable {
        color: #d19a66;
    }

    .bullet,
    .link,
    .meta,
    .selector-id,
    .symbol,
    .title {
        color: #61aeee;
    }

    .emphasis {
        font-style: italic;
    }

    .strong {
        font-weight: bold;
    }

    .link {
        text-decoration: underline;
    }
}
