.post-list {

  .post-list-item {
    margin-bottom: 1em;

    &:hover {
      cursor: pointer;
    }

    .card-img-top {
      border-bottom: 1px solid #dedede;
      background-color: transparent;
      height: 250px;
    }
  }
}
