@import 'variables';
@import 'bootstrap/scss/bootstrap.scss';
@import 'header';
@import 'footer';
@import 'post';
@import 'pagination';
@import 'article';
@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR|Roboto|Roboto+Slab');

body {
  font-family: 'Roboto', 'Roboto Slab', 'Noto Sans KR', sans-serif, serif, cursive;
  overflow-wrap: break-word;
  height: 100%;
  // background-color: #fafafa;
}

a {
    &:hover {
        font-weight: bold;
    }
    &.vglnk:hover {
        color: inherit;
        opacity: 0.8;
    }

    > code {
        color: #e83e8c;
    }
}

code {
    padding: 5px;
    vertical-align: initial;
}
