.menu .menu-item {
      .badge {
        background-color: $snorlax-beam;
        font-weight: 400;
      }
}

.header {
    .site-brand-container {
        background: $snorlax-outer-skin;
        padding: 25px 10px;
    }
}