@import "fonts.styl";
@import "menu.styl";
@import "pagination.styl";
@import "prism-onedark.css";

.headband {
    height: 0;
}

// code {
//     background: $snorlax-tongue
//     color: $snorlax-teeth;
// }

.reading-progress-bar {
    background-color: $snorlax-outer-skin;
}

a.heading-anchor {
    color: $snorlax-sole-of-foot;
}

.posts-expand .post-title {
    font-weight: 700;
}

i.fa, i.far, i.fas {
  font-family: FontAwesome, "Font Awesome 5 Free" !important;
}
i.fab {
  font-family: "Font Awesome 5 Brands" !important;
}

.menu-item .fa-none {
    display: none;
}

+tablet() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

+mobile() {
    .posts-expand .post-title {
        margin-top: 20px;
    }
}

.post-body .image-caption {
    margin: -10px auto 15px;
}
.post-body img {
    max-height: 180px;
}
.post-body img[src*="#thumbnail"] {
    width: 100%;
    max-height: 200px;
}
.post-body img[src*="#full"] {
    max-height: 400px;
}