@import url('https://cdn.jsdelivr.net/gh/Joungkyun/font-d2coding@1.3.2/d2coding.min.css');

@import "menu.styl";
@import "pagination.styl";
@import "prism-onedark.css";

.headband {
    height: 0;
}

code {
    background: $snorlax-tongue
    color: $snorlax-teeth;
}

.reading-progress-bar {
    background-color: $snorlax-outer-skin;
}

a.heading-anchor {
    color: $snorlax-sole-of-foot;
}

.posts-expand .post-title {
    font-weight: 700;
}

i.fa, i.far, i.fas {
  font-family: FontAwesome, "Font Awesome 5 Free" !important;
}
i.fab {
  font-family: "Font Awesome 5 Brands" !important;
}