// Variables of Snorlax scheme
// ==================================================

$snorlax-outer-skin        = hsl(196, 55%, 36%);
$snorlax-skin              = hsl(30, 71%, 93%);
$snorlax-tongue            = hsl(349, 69%, 54%);
$snorlax-teeth             = hsl(0, 0%, 97%);
$snorlax-sole-of-foot      = hsl(27, 13%, 44%);
$snorlax-toenail           = hsl(0, 0%, 96%);
$snorlax-beam              = hsl(45, 78%, 61%);

// $body-bg-color = rgb(243, 245, 247);

$link-decoration-color = $snorlax-sole-of-foot;

